<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="header" th:fragment="bodyHeader">
    <ul class="nav nav-pills pull-right">
        <li><a href="/">Home</a></li>
    </ul>
    <a href="/"><h3 class="text-muted">E-Coupon SHOP</h3></a>
    <style>
    body{
            background-image: url(https://e0.pxfuel.com/wallpapers/352/978/desktop-wallpaper-arvo-be-good-do-good-arvowear-pink-iphone-background-iphone-geometric-iphone-blue-iphone-minimalist-minimalist-grey-blue.jpg);
            background-size: cover;
            background-position: center;
            }
    </style>
</div>